@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

/* Сбрасываем стандартные стили для браузеров НАЧАЛО */
* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

ul, ol {
	padding: 0;
}

h1 {
	margin: 0;
}

li {
	list-style: none;
}
/* Сбрасываем стандартные стили для браузеров КОНЕЦ */

.active_menu_link {
	text-shadow: 10px 3px 7px rgba(0, 246, 0, 1);
	text-transform: uppercase;
}


#wrapper {
	margin: 0 auto;
	width: 1200px;
	background: #eee;
	-webkit-box-shadow: 1px 3px 15px -1px rgba(38,34,38,1);
	-moz-box-shadow: 1px 3px 15px -1px rgba(38,34,38,1);
	box-shadow: 1px 3px 15px -1px rgba(38,34,38,1);
}

header h1 {
	font-size: 60px;
	text-align: center;
	padding: 50px 0;
	text-shadow: -3px -3px 9px rgba(150, 150, 150, 1);

	background: #000000;
	background: -webkit-repeating-radial-gradient(ellipse farthest-corner at center center, #000000 2%, #CF1512 100%);
	background: -moz-repeating-radial-gradient(ellipse farthest-corner at center center, #000000 2%, #CF1512 100%);
	background: repeating-radial-gradient(ellipse farthest-corner at center center, #000000 2%, #CF1512 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

header nav {
	overflow: hidden;
}

header nav a {
	display: block;
	float: left;
	width: 240px;
	text-align: center;
	background: #000;
	color: #fff;
	padding: 25px 0;
	border: 5px solid transparent;
	transition: .3s ease-in-out;
}

header nav a:hover {
	background: #fff;
	color: #000;
	border: 5px solid #000;
}



/* main styles */
main {
	overflow: hidden;
}

.product_item {
	width: 400px;
	height: 400px;
	float: left;
	opacity: .2;
}

.product_item:hover {
	opacity: 1;
}

.product_item img {
	width: 100%;
}

/* footer */

footer {
	background: #424242;
	padding: 50px 0;
}

footer p {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	color: #ddd;
}

footer p:last-child {
	margin-top: 20px;
}

footer p span {
	text-transform: uppercase;
	font-weight: 800;
}



/* CATEGORIES PAGE START */
#categories_page h2 {
	text-align: center;
	font-size: 35px;
	font-weight: 200;
	margin: 50px 0 70px 0;
}

.cat_item {
	width: 300px;
	height: 300px;
	float: left;
	text-align: center;
}

.cat_item img {
	width: 35%;
	display: block;
	margin: 0 auto;
}

.cat_item p {
	font-size: 11px;
	width: 240px;
	margin: 0 auto 20px auto;
}

.cat_item a {
	display: block;
	background: #000;
	color: #fff;
	width: 240px;
	margin: 0 auto;
	padding: 10px 0;
	border-radius: 25px;
	border: 5px dotted #fff;
	transition: .3s ease-in-out;
}

.cat_item a:hover {
	border: 5px solid #009688;
	transition: .3s ease-in-out;
	background: #fff;
	color: #000;
}



/* CATEGORIES PAGE END */